.Navbar{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    border-bottom: 0.1px solid rgba(192, 192, 192, 0.062);
    background: rgba(225,225,225,0.01);
    backdrop-filter: blur(10px);
    z-index: 999;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding: 2px;
    width: auto;
    height: 35px;
    border-radius: 4px;
    cursor: pointer;
    color: rgba(0,0,0,0.7);
}

.logo img{
    width: auto;
    height: 100%;
    border-radius: 4px;
}
.links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.links .ico{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 4px;
    cursor: pointer;
}

.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 50%;
    border-radius: 35px;
    padding: 0 10px;
}

.search input{
    padding: 10px 0;
    background: none;
    outline: none;
    width: 100%;
    border: none;
}

.search .ico{
    width: 100% !important;
    height: 35px !important;
    border-radius: 50% !important;
}
.icocat{
    width: 25px !important;
    height: 25px !important;
}

@media only screen and (max-width: 600px){
    .header{
        padding: 5px;
    }
    .logo > span{
        display: none;
    }
    .search{
        display: none;
    }
    .categoriescol{
        width: 100% !important;
    }
}